{% extends 'base.html'%} 

{%block content%}
<form method="POST" action="{{url_for('auth.register')}}" enctype="multipart/form-data">
  {{form.csrf_token}}
  <div class="form-group">
    {{form.username.label}}
    {{form.username(class="form-control")}}
    {% for error in form.errors.username %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="form-group">
    {{form.email.label}}
    {{form.email(class="form-control")}}
    {% for error in form.errors.email %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div class="form-group">
    {{form.password.label}}
    {{form.password(class="form-control")}}
    {% for error in form.errors.password %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="form-group">
    {{form.confirm.label}}
    {{form.confirm(class="form-control")}}
    {% for error in form.errors.confirm %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}
