{% extends 'base.html'%} {%block content%} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<p>{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Simple Quiz
  </div>
  <form
    method="post"
    action="{{ url_for('quiz.check') }}"
    enctype="multipart/form-data"
  >
    <div class="card-body">
      {% for question in questions %} {% set outer_loop = loop %}
      <p>{{ question.question }}</p>
      {%for answer in question.answers %} <input type="radio" {% if written %}
      {%if written[outer_loop.index-1]['answerId'] == answer.id %} checked {%
      endif %} {% endif %} name="{{ question.id }}" value="{{ answer.id }}">

      <label for="{{ answer.id }}">{{ answer.answer }}</label>
      {% endfor %}
      <br />
      {% endfor %}

      <input class="btn btn-primary" type="submit" value="Check" />
    </div>
  </form>
</div>
{%endblock%}
